{% extends "layout.html" %}


{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
{% if not flag %}
<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.course_code, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
{% endif %}
{% if flag %}
<form method="POST" action="">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Course Code</th>
                <th scope="col">Course Name</th>
                <th scope="col">Letter Grade</th>
                <th scope="col">Enrollment Year</th>
                <th scope="col">Teacher Name</th>

            </tr>
        </thead>
        <tbody>
            {% for mentor in mentors %}
            <tr>
                <th scope="row">
                    <label class="radio">
                        <input type="radio" name="mentor_key" value="{{ mentor[0],mentor[7] }}" />
                    </label>
                </th>
                <div class="form-group">
                    <th scope="row">

                        {{ mentor[0]}}
                    </th>
                </div>
                <div class="form-group">
                    <td>{{ mentor[1]}}</td>
                </div>
                <div class="form-group">
                    <td>{{ mentor[2]}}</td>
                </div>
                <div class="form-group">
                    <td>{{ mentor[3]}}</td>
                </div>
                <div class="form-group">
                    <td>{{ mentor[4]}}</td>
                </div>
                <div class="form-group">
                    <td>{{ mentor[5]}}</td>
                </div>
                <div class="form-group">
                    <td>{{ mentor[6]}}</td>
                </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><input type="submit" class="btn btn-primary" value="Choose Mentor"></p>
</form>
{% endif %}
{% endblock body %}
