{% extends "layout.html" %}
{% block body %}
<h1>Profile</h1>
<p>{{current_user.name}}</p>
{% if flag == 0 %}
<form method="POST" action="">
    <input type="submit" name="update-button" value="Update Infos">
</form>
{% endif %}
{% from "includes/_formhelpers.html" import render_field %}
{% if flag == 1 %}
<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.email, class_="form-control")}}
    </div>
    <div class="form-group">
        {{render_field(form.faculty_name, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
{% endif %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>MY MENTORS</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Mentor Name</th>
                        <th scope="col">Course Code</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Letter Grade</th>
                        <th scope="col">Teacher Name</th>



                    </tr>
                </thead>
                <tbody>

                    {% if mentors %}
                    {% for mentor in mentors %}
                    <div class="form-group">
                        <th scope="row">
                            <label class="checkbox">
                                <input type="checkbox" name="" value="" />
                            </label>
                        </th>
                    </div>

                    <tr>
                        <div class="form-group">
                            <th scope="row">

                                {{ mentor[0]}}
                            </th>
                        </div>
                        <div class="form-group">
                            <td>{{ mentor[1]}}</td>
                        </div>
                        <div class="form-group">
                            <td>{{ mentor[2]}}</td>
                        </div>
                        <div class="form-group">
                            <td>{{ mentor[3]}}</td>
                        </div>
                        <div class="form-group">
                            <td>{{ mentor[4]}}</td>
                        </div>
                        <div class="form-group">
                            <td>{{ mentor[5]}}</td>
                        </div>

                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h1>MY MENTEES</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Mentee Name</th>
                        <th scope="col">Course Code</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Mentee Email</th>



                    </tr>
                </thead>
                <tbody>
                    {% if mentees %}
                    {% for mentee in mentees %}
                    <tr>
                        <div class="form-group">
                            <th scope="row">

                                {{ mentee[0]}}
                            </th>
                        </div>
                        <div class="form-group">
                            <td>{{ mentee[1]}}</td>
                        </div>
                        <div class="form-group">
                            <td>{{ mentee[2]}}</td>
                        </div>
                        <div class="form-group">
                            <td>{{ mentee[3]}}</td>
                        </div>

                    </tr>
                    {% endfor %}
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
